<a href="/" class="text-indigo-700 font-bold text-2xl underline hover:text-indigo-900">searq.org</a>

<div class="wrapper my-3">
  <div id="searchbox" focus></div>
  <div id="hits" class="mt-5"></div>
</div>
