
  <section class="py-5">
    <div class="flex flex-col px-8 mx-auto xl:px-12">
      <div id="searchbox" class="ais-SearchBox">
        <div id="stats"></div>
      </div>

      <div id="hits" class="mt-4"></div>
      <div id="pagination"></div>
    </div>
  </section>

  <section class="py-5 border-t-2 border-gray-600">
    <div class="px-8 mx-auto xl:px-12">
      Made by <a class="underline font-semibold" href="https://twitter.com/daviducolo">@daviducolo</a>. Source code on <a href="https://github.com/searq/searq.org" class="underline font-semibold">GitHub</a>.
    </div>
  </section>
