<div class="text-center" data-controller="hello">
  <p class="text-base font-semibold text-indigo-600"><i class="fa-solid fa-rss"></i></p>
  <h1 class="mt-4 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">SearQ</h1>
  <p class="mt-4 text-lg leading-7 text-gray-600">The RESTful RSS search experience you deserve.</p>
  <div class=" text-left mt-5 relative z-10 col-span-3 bg-slate-800 rounded-lg shadow-lg xl:ml-0 dark:shadow-none dark:ring-1 dark:ring-inset dark:ring-white/10">
    <div class="relative flex text-slate-400 text-xs leading-6">
      <div class="mt-2 flex-none text-sky-300 border-t border-b border-t-transparent border-b-sky-300 px-4 py-1 flex items-center"><%= @url %></div>
      <div class="flex-auto flex pt-2 rounded-tr-xl overflow-hidden">
        <div class="flex-auto -mr-px bg-slate-700/50 border border-slate-500/30 rounded-tl"></div>
      </div>
      <div class="absolute top-2 right-0 h-8 flex items-center pr-4">
        <div class="relative flex -mr-2"><button  data-clipboard-text="<%= @code %>" type="button" class="btn text-slate-500 hover:text-slate-400"><i class="fa-sharp fa-solid fa-copy fa-lg"></i></button></div>
      </div>
    </div>
    <div class="relative">
      <pre class="text-sm leading-6 text-slate-50 flex ligatures-none overflow-auto"><code class="flex-none min-w-full p-5"><span class="flex"><svg viewBox="0 -9 3 24" aria-hidden="true" class="flex-none overflow-visible text-pink-400 w-auto h-6 mr-3"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg><span class="flex-auto"><span class="font-semibold">GET</span> /search.json -d 'q={q}'</span></span></code></pre>
    </div>
  </div>
  <div class="my-0.5">
    <%= link_to exports_path, class: "text-xs text-gray-800 hover:underline hover:text-sky-700" do %>
      export query from <span class="font-semibold"><%= @feeds_count %></span> source feeds 
    <% end %>
  </div>
  <div class="mt-6 flex items-center justify-center gap-x-6">
    <a href="https://github.com/searq/searq.org" class="rounded-md bg-indigo-600 px-6 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      <i class="fa-brands fa-github mr-1"></i>
      GitHub
    </a>
    <a class="text-sm font-semibold text-gray-900 hover:underline hover:text-gray-700" href="https://github.com/searq/searq.org/wiki">
      docs <span aria-hidden="true">&rarr;</span>
    </a>
  </div>
</div>

